.confirmed-order-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .confirmed-order-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(221, 255, 255);
        margin-top: 2rem;

        .confirmed-order-item{
            margin-bottom: 1rem;

           
        }
    }
   
}