.nav-bar {
  background-image: url("../img/backgroundHeader.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 108px;
  width: 100%;
  @media (min-width: $mobile) {
    height: 172px;
  }
}
.nav-bar-container {
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 90%;
  h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
  }
  @media (min-width: $mobile) {
    display: flex;
  }
}
.button-nav-container {
  position: fixed;
  bottom: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  @media (min-width: $mobile) {
    display: none;
  }
}
.button-nav-bar {
  position: absolute;
  background-image: url("../img/iconNavMobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: $primaryColor;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  bottom: 0;
  right: 0;
  width: 65px;
  height: 65px;

}
