.orderDetails--container {
  width: 350px;

  @media (max-width: 425px) {
    width: 18rem;
  }

  @media (min-width: 768px) {
    width: 31rem;
  }
  @media (min-width: 1024px) {
    width: 53rem;
  }

  height: 64px;
  left: 20px;
  top: 610px;
  background: #ffffff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    margin-top: 10px;
    margin-left: 10px;
  }

  margin: 10px;
}

.orderDetails--light {
  font-weight: lighter;
}

.order--arrow {
  margin-right: 10px;
}
