.resumen-user-container {
  margin: 30px auto 0 auto;

  @media (min-width: $mobile) {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

  @media (min-width: $pc) {
    width: 50%;
  }
}
.resumen-user {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $mobile) {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
