.shop--arrow--back {
  margin-left: 40px;
}
.container-business {
  margin-top: 40px;
}
.shops {
  margin-top: 40px;
  h1 {
    margin-bottom: 40px;
  }
}
.shops--container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 32px;
  align-items: center;
  @media (min-width: $mobile) {
    grid-template-columns: 1fr 1fr;
  }
}

.shop {
  box-shadow: 0 12px 30px 0 hsl(0deg 0% 83% / 50%);
  border: none;
  border-radius: 15px;
  background-color: #fff;
  min-height: 300px;
  @media (min-width: $mobile) {
    min-height: 400px;
  }
}

.shop--image {
  height: 50%;
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
  background-position: 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop--details {
  padding: 1.5rem;
  text-align: center;
  p {
    color: $textColor;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 4.5%;
    text-transform: capitalize;
    text-align: initial;
  }
}

.shop--type {
  color: #cfb48d;
  letter-spacing: 3px;
}
//valoration
.shop--valoration {
  display: flex;
  flex-direction: row-reverse;
}
.shop--valoration button {
  background-color: initial;
  border: 0;
  color: #8f8f8f;
  transition: 1s all;
}
.shop--valoration .star:hover {
  cursor: pointer;
  color: #ff9700;
  transform: rotate(360deg);
}
.start:nth-child(1):hover ~ .star {
  color: #ff9700;
  transform: rotate(360deg);
}
.star:nth-child(2):hover ~ .star {
  color: #ff9700;
  transform: rotate(360deg);
}
.star:nth-child(3):hover ~ .star {
  color: #ff9700;
  transform: rotate(360deg);
}
.star:nth-child(4):hover ~ .star {
  color: #ff9700;
  transform: rotate(360deg);
}
.star:nth-child(5):hover ~ .star {
  color: #ff9700;
  transform: rotate(360deg);
}

//Go to top button
.myBtn {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
  color: #ff9700;
}

.myBtn > div,
.myBtn > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.myBtn:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.myBtn:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.myBtn .clone > *,
button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.myBtn .clone > * {
  transform: translateY(60px);
}

.myBtn:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.myBtn:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.myBtn:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.myBtn:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.myBtn:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.myBtn:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
.myBtn svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.myBtn:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}

.featured {
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}
.featured-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  @media (min-width: $mobile) {
    width: 100%;
    justify-content: center;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 350px);
    margin: 0 auto;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "p0 p1"
      "p0 p2"
      "p3 p3";
    .shop {
      min-height: 350px;
    }
    .p0 {
      grid-area: p0;
    }

    .p1 {
      grid-area: p1;
    }

    .p2 {
      grid-area: p2;
    }

    .p3 {
      grid-area: p3;
      height: 400px;
    }
  }
}
