.userProfile--img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}

.userProfile--data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userProfile--user--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  p {
    margin: 10px;
  }

  .userProfile--icon {
    margin: 10px;
  }
}

//editable
.userProfile--editable {
  justify-items: left;
  display: flex;
  flex-direction: row;
  width: 100%;
}
