$primaryColor: #65a26b;
$secondaryColor: #ff9700;
$textColor: #515151;

$mobile: 650px;
$pc: 1100px;
:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  mobile: $mobile;
  pc: $pc;
}
